*{
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

body{
    background-color:   #f0f4f5;
}

.logo{
    height: 50px;
    margin-left: 100%;
    margin-top: 7px;
}

.navigation ul{
    display: flex;
    flex-direction: row;
    gap: 55px;
    list-style: none;
    margin-left: 680px;
}

.navigation ul a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.leftsection{
    margin-left: 12%;
    margin-top: 120px;
}

.topangle{
    height: 20px;
    width: 20px;
}

.content{
    margin-top: -40px;
    margin-left: 10px;
}

.content h1{
    font-size: 45px;
    font-weight: 900;
}

.content p{
    margin-top: -15px;
    color: rgba(84, 84, 84, 0.875);
    font-weight: 600;
}

.btn{
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #20BC7E;
    border: none;
    color: aliceblue;
    font-weight: 700;
    font-size: 17px;
    margin-top: 20px;
}

.ab{
    display: flex;
    flex-direction: row;
}

.bottomangle{
    height: 20px;
    width: 20px;
    margin-left: 375px;
    margin-top: 27px;
}

.bgimg{
    height: 80vh;
    width: 85vh;
    margin-top: -430px;
    margin-left: 180px;
}

.mouse{
    margin-top: -100px;
    margin-left: 54%;
    margin-bottom: 90px;
    height: 30px;
}

.rightsection{
    margin-left: 65%;
    margin-top: -43.5%;
}

.doctor{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 91%;
    margin-right: -1px;
    margin-bottom: -10px;
}

.yellow{
    position: absolute;
    right: 0;
    width: 24%;
    bottom: 10px;

}

.green{
    position: absolute;
    right: 0;
    width: 28%;
    bottom: 27px;
}